<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <script src="/js/jquery.min.js"></script>
    <!-- bootstrap.min.css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">

    

  



    <link href="/css/dashboard.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/admin.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/admin.js"></script>

    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
</head>
<body>
       
                <div class="a-wrap">
                    <div>
                        <ul class="a-header">
                            <li class="a-item">
                                <a href="/admin">后台管理</a>
                            </li>
                            <li class="a-item">
                                <a href="/admin/user">用户管理</a>
                            </li>
                            <li class="a-item">
                                <a href="/admin/tongji">注册统计</a>
                            </li>
                            <li class="a-item">
                                <a href="/admin/tongji2">文章发布统计</a>
                            </li>
                            <li class="a-item">
                                <a href="/admin/content">内容管理</a>
                            </li>
                            <li class="a-user">
                                <span><%= username%></span>
                                <span><a href="/users/logout">退出</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="a-body">
                        <!-- {% block main %}{% endblock %} -->
                    </div>
                </div>
  