<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <script src="/js/jquery.min.js"></script>
    <!-- bootstrap.min.css -->
 <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
 <link href="/css/signin.css" rel="stylesheet">
 <link href="/css/dashboard.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="/css/verify.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/verify.js"></script>

    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
</head>
<body>
<div>
<h1>博客系统</h1>
<h2>
    <%= title%>
</h2>
<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">请添加</h2>
        <label for="username" class="sr-only">用户名</label>
        <input type="text" id="username" class="form-control" placeholder="用户名" required autofocus>
        <label for="password" class="sr-only">密码</label>
        <input type="password" id="password" class="form-control" placeholder="密码" required>
        <button class="btn btn-lg btn-primary btn-block" type="button" id="btn">添加</button>
    </form>

</div>
<script>
$('#btn').click(function () {
    $.ajax({
                url: '/users/api-register',
                type: 'post',
                data: {
                    username: $('#username').val(),
                    password: $('#password').val()
                },
                success: function (res) {
                    console.log(res);
                    if (res.code == 1) {
                        alert(res.msg); //返回后端状态
                        location.href = '/admin/user';//成功跳转用户列表页
                    } else {
                        alert(res.msg)
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })

})
</script>

</body>

</html>